.git
.gitignore

.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.envrc
.mypy_cache/
.pytest_cache/

# Node / React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
dist/
build/

# Expo
.expo-shared/
web-build/

# Docker junk
docker-compose.override.yml