version: "3.9"

services:
  db:
    image: postgres:15
    container_name: dndne_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
  backend:
    build: ./backend
    container_name: dndne_backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./backend:/app
  frontend:
    build: ./frontend
    container_name: dndne_frontend
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    stdin_open: true
    tty: true

volumes:
  pgdata: